.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
/*     background-image: url('../../assets/burger.webp');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: 65%; */
}

@media (max-width: 768px){
    .container {
        width: 240px;
        height: 460px;
     /*    background-image: url('../../assets/burger.webp');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 70%; */
    } 
}