.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
/* Estilos contenido about */
.button {
    margin-top: 1rem;
    display: grid;
    place-items: center;
    background-color: #CCCCCC;
    height: 23.5rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px #808080, -20px -20px 60px #ffffff00;
    padding: 3px;
    border: 2px solid #808080;
    box-sizing: border-box;
}
.insideButton {
    padding: 0 1.5rem 3rem 1.5rem;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 0px #808080 inset;
    border: 2px solid #808080;
    box-sizing: border-box;
}
/* Estilos imagen about */
.contImg {
    width: 30%;
    height: 100%;
    border: 3px solid #808080;
}
.contImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #808080;
}
/* Estilos tecto contenido about */
.containerText {
    width: 65%;
    max-height: 100%;
}
.containerText p {
   font-size: 12.5px;
   margin: 0;
}
/* Contenedor general del contenido del about */
.containerContent {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
/* titulo estilos */
.title p {
    color: #0000FF;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0.5rem 0 0.3rem 0;
    text-align: center;
}
/* Ocultar nanRedesSociales */
.navBottom {
    display: none;
}

@media (max-width: 768px){
    .container {
        width: 280px;
        height: 490px;
    } 
    .containerContent {
        flex-direction: column;
    }
    .contImg {
        width: 100%;
        height: 4rem;
    }
    .containerText {
        width: 100%;
    }
    .containerText p {
        font-size: 7px;
    }
    .insideButton {
        padding: 0 1rem 2rem 1rem;
    }
    .title p {
        font-size: 1rem;
    }
    .navBottom {
        display: flex;
        width: 90%;
    }
}